.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}


.btn-order{
  background-color: black;
  color: grey;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  right: 145px;
  top: 0px;
}
.btn-favorite{
  background-color: black;
  color: grey;
  padding: 6px 10px;
  margin: 4px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  right: 145px;
  top: 0px;
}
.price{
  color: black;
  font-size: larger;
  border: solid black;
  background-color: lightgray;
  padding: 4px;
  width: 60px;
  position: relative;
  left: 75%;
   top: 40px; 
}

.available{
  color: black;
  font-size: larger;
  background-color: gold;
  padding: 3px;
  width: 110px;
  position: relative;
   bottom: 270px; 
}

.home-input {
  padding: 6px 200px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 50px;
  font-size: 18px;
  align-items:center;
  border: 1px solid black;
  text-align: center;
}
.cards_container {
  align-items:center;
  max-width: 100%;
  width: 100%;

  margin: 1px;
  text-align: center;
 
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}



.cards__item {
  
  display:inline-flex;
  padding: 9px;
  width: 400px;
  border-radius: 10px;
}


.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width:400px;
  height: 100%;
  padding-top:80%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}



.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit:fill;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
    
  }
  .cards__items {
    display: flex;
    margin-bottom: 2rem;
    
  }
  .home-input {
    padding: 6px 200px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
    font-size: 18px;
    align-items:center;
    border: 1px solid black;
    text-align: center;
  }
}

@media only screen and (min-width: 1020px) {
  .cards__items {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;

  }
  .home-input {
    padding: 6px 200px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
    font-size: 18px;
    align-items:center;
    border: 1px solid black;
    text-align: center;
  }
}
@media only screen and (min-width: 930px) {
  .cards__items {
    display: flex;
    margin-bottom: 2rem;
  }
  .home-input {
    padding: 6px 200px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
    font-size: 18px;
    align-items:center;
    border: 1px solid black;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .cards__item {
    display: flex;
    margin-bottom: 2rem;
  }
  .home-input {
    padding: 2px 100px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
    font-size: 18px;
    align-items:center;
    border: 1px solid black;
    text-align: center;
  }
}


