.card_cart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.card_img{
    object-fit: contain;
    width: 160px;
    height: 160px;
    border: 1px solid #ccc;
}

.card_available{
color: black;
}
.card_titel{
    font-size: 16px;
    font-weight: 600;
}

.card_info{
    padding-left: 20px;
}

.card_info > button{
    background-color: silver;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
}